body {
   background-color: #ffff00;

    color: white;
  }
  
  .link{
    text-decoration: none;
    color: white;
  }

  .myList {
    list-style-type: none;
    margin: 0px;
  }
  
  .nav{
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
    font-weight: bold;
  }